@layer theme, base, components, utilities;

@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@import "@fontsource-variable/geist/index.css";

@import "~/styles/theme.css";
@import "~/styles/typography/typography.css";

@layer base {
  * {
    @apply border-border ring-ring outline-outline transition transition-discrete;
  }

  body {
    @apply bg-background text-foreground text-base antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply h-full min-h-full scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
