@theme {
  --blur-*: initial;
  --color-*: initial;
  --shadow-*: initial;
  --drop-shadow-*: initial;
  --inset-shadow-*: initial;
  --leading-*: initial;
  --radius-*: initial;
  --text-*: initial;
  --text-shadow-*: initial;
  --tracking-*: initial;
  --breakpoint-*: initial;
  --container-*: initial;
}
