:root {
  /* Spacing */
  --container-x: calc(var(--spacing) * 6);
  --container-y: calc(var(--spacing) * 6);
}

@theme inline {
  --spacing-container-x: var(--container-x);
  --spacing-container-y: var(--container-y);
}

@theme {
  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  /* Containers */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  /* Blur */
  --blur: 0.8rem;

  /* Radii */
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: var(--radius);
}
