@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";

  --color-background-primary: #ffffff;

  --color-foreground-primary: #000000;
  --color-foreground-secondary: #3c3c4399;
  --color-foreground-tertiary: #3c3c434d;
  --color-foreground-quaternary: #3c3c432e;
}

@layer base {
  * {
    @apply transition-all transition-discrete duration-75 ease-in-out;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background-primary text-foreground-primary overscroll-none antialiased;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply h-full min-h-full;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1280px];
  }
}
