@import "tailwindcss";
@import "@fontsource-variable/inter/index.css";
@import "~/constants/typography/typography.css";

/* All colors are `@radix-ui/color` dark mode */
@theme {
  --font-sans:
    "Inter Variable", "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  /* Black Alpha */
  --color-black-a1: rgba(0, 0, 0, 0.05);
  --color-black-a2: rgba(0, 0, 0, 0.1);
  --color-black-a3: rgba(0, 0, 0, 0.15);
  --color-black-a4: rgba(0, 0, 0, 0.2);
  --color-black-a5: rgba(0, 0, 0, 0.3);
  --color-black-a6: rgba(0, 0, 0, 0.4);
  --color-black-a7: rgba(0, 0, 0, 0.5);
  --color-black-a8: rgba(0, 0, 0, 0.6);
  --color-black-a9: rgba(0, 0, 0, 0.7);
  --color-black-a10: rgba(0, 0, 0, 0.8);
  --color-black-a11: rgba(0, 0, 0, 0.9);
  --color-black-a12: rgba(0, 0, 0, 1);

  /* White Alpha */
  --color-white-a1: rgba(255, 255, 255, 0.05);
  --color-white-a2: rgba(255, 255, 255, 0.1);
  --color-white-a3: rgba(255, 255, 255, 0.15);
  --color-white-a4: rgba(255, 255, 255, 0.2);
  --color-white-a5: rgba(255, 255, 255, 0.3);
  --color-white-a6: rgba(255, 255, 255, 0.4);
  --color-white-a7: rgba(255, 255, 255, 0.5);
  --color-white-a8: rgba(255, 255, 255, 0.6);
  --color-white-a9: rgba(255, 255, 255, 0.7);
  --color-white-a10: rgba(255, 255, 255, 0.8);
  --color-white-a11: rgba(255, 255, 255, 0.9);
  --color-white-a12: rgba(255, 255, 255, 0.95);

  /* Blue Dark */
  --color-blue-1: #0d1520;
  --color-blue-2: #111927;
  --color-blue-3: #0d2847;
  --color-blue-4: #003362;
  --color-blue-5: #004074;
  --color-blue-6: #104d87;
  --color-blue-7: #205d9e;
  --color-blue-8: #2870bd;
  --color-blue-9: #0090ff;
  --color-blue-10: #3b9eff;
  --color-blue-11: #70b8ff;
  --color-blue-12: #c2e6ff;

  /* Gray Dark */
  --color-gray-1: #111111;
  --color-gray-2: #191919;
  --color-gray-3: #222222;
  --color-gray-4: #2a2a2a;
  --color-gray-5: #313131;
  --color-gray-6: #3a3a3a;
  --color-gray-7: #484848;
  --color-gray-8: #606060;
  --color-gray-9: #6e6e6e;
  --color-gray-10: #7b7b7b;
  --color-gray-11: #b4b4b4;
  --color-gray-12: #eeeeee;

  /* Primary */
  --color-background: var(--color-black-a12);
  --color-foreground: var(--color-gray-12);

  /* Secondary*/
  --color-secondary: var(--color-gray-a4);
  --color-secondary-foreground: var(--color-gray-a12);

  /* Tertiary */
  --color-accent: var(--color-gray-a5);
  --color-accent-foreground: var(--color-gray-a11);

  /* Quaternary */
  --color-muted: var(--color-white-a4);
  --color-muted-foreground: var(--color-white-a10);

  /* Semantic Coloring */
  --color-link: var(--color-blue-10);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply h-full min-h-full;
  }

  /* TODO: melhorar o ring quando aperta tab */
  /* TODO: customizar a barra de rolagem */
  /* TODO: customizar a seleção */
}

@layer utilities {
  .container {
    @apply mx-auto max-w-(--breakpoint-xl);
  }
}
