@import "tailwindcss";
@import "~/constants/typography/typography.css";

@theme {
  --font-sans:
    "Inter Variable", "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --color-background-primary: oklch(100% 0 0);

  --color-foreground-primary: oklch(0% 0 0);
  --color-foreground-secondary: oklch(35.88% 0.012 285.78 / 60%);
  --color-foreground-tertiary: oklch(35.88% 0.012 285.78 / 30.2%);
  --color-foreground-quaternary: oklch(35.88% 0.012 285.78 / 18.04%);

  --color-link: oklch(60.28% 0.2177 257.42);
}

@layer base {
  body {
    @apply bg-background-primary text-foreground-primary antialiased;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply h-full min-h-full;
  }

  /* TODO: melhorar o ring quando aperta tab */
  /* TODO: customizar a barra de rolagem */
  /* TODO: customizar a seleção */
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[var(--breakpoint-xl)];
  }
}
