@import "tailwindcss";
@import "@fontsource-variable/inter/index.css";
@import "~/constants/typography/typography.css";

/* All colors are `@radix-ui/color` dark mode */
@theme {
  --font-sans:
    "Inter Variable", "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  /* Black Alpha */
  --color-black-a1: oklch(0% 0 none / 0.05);
  --color-black-a2: oklch(0% 0 none / 0.1);
  --color-black-a3: oklch(0% 0 none / 0.15);
  --color-black-a4: oklch(0% 0 none / 0.2);
  --color-black-a5: oklch(0% 0 none / 0.3);
  --color-black-a6: oklch(0% 0 none / 0.4);
  --color-black-a7: oklch(0% 0 none / 0.5);
  --color-black-a8: oklch(0% 0 none / 0.6);
  --color-black-a9: oklch(0% 0 none / 0.7);
  --color-black-a10: oklch(0% 0 none / 0.8);
  --color-black-a11: oklch(0% 0 none / 0.9);
  --color-black-a12: oklch(0% 0 none);

  /* White Alpha */
  --color-white-a1: oklch(100% 0 none / 0.05);
  --color-white-a2: oklch(100% 0 none / 0.1);
  --color-white-a3: oklch(100% 0 none / 0.15);
  --color-white-a4: oklch(100% 0 none / 0.2);
  --color-white-a5: oklch(100% 0 none / 0.3);
  --color-white-a6: oklch(100% 0 none / 0.4);
  --color-white-a7: oklch(100% 0 none / 0.5);
  --color-white-a8: oklch(100% 0 none / 0.6);
  --color-white-a9: oklch(100% 0 none / 0.7);
  --color-white-a10: oklch(100% 0 none / 0.8);
  --color-white-a11: oklch(100% 0 none / 0.9);
  --color-white-a12: oklch(100% 0 none / 0.95);

  /* Blue Dark */
  --color-blue-1: oklch(19.361% 0.0255 256.49);
  --color-blue-2: oklch(21.293% 0.03034 261.25);
  --color-blue-3: oklch(27.447% 0.06629 253.93);
  --color-blue-4: oklch(32.014% 0.09678 252.35);
  --color-blue-5: oklch(36.71% 0.10588 250.7);
  --color-blue-6: oklch(41.603% 0.11326 252.01);
  --color-blue-7: oklch(47.411% 0.12187 253.09);
  --color-blue-8: oklch(54.057% 0.13954 253.17);
  --color-blue-9: oklch(64.929% 0.19304 251.78);
  --color-blue-10: oklch(68.838% 0.16933 251.4);
  --color-blue-11: oklch(76.422% 0.12575 249.46);
  --color-blue-12: oklch(90.712% 0.05104 238.45);

  /* Gray Dark */
  --color-gray-1: oklch(17.764% 0 none);
  --color-gray-2: oklch(21.342% 0 none);
  --color-gray-3: oklch(25.196% 0 none);
  --color-gray-4: oklch(28.502% 0 none);
  --color-gray-5: oklch(31.317% 0 none);
  --color-gray-6: oklch(34.846% 0 none);
  --color-gray-7: oklch(40.167% 0 none);
  --color-gray-8: oklch(48.906% 0 none);
  --color-gray-9: oklch(53.824% 0 none);
  --color-gray-10: oklch(58.292% 0 none);
  --color-gray-11: oklch(76.993% 0 none);
  --color-gray-12: oklch(94.912% 0 none);

  /* Primary */
  --color-background: var(--color-black-a12);
  --color-foreground: var(--color-gray-12);

  /* Secondary*/
  --color-secondary: var(--color-gray-a4);
  --color-secondary-foreground: var(--color-gray-a12);

  /* Tertiary */
  --color-accent: var(--color-gray-a5);
  --color-accent-foreground: var(--color-gray-a11);

  /* Quaternary */
  --color-muted: var(--color-white-a4);
  --color-muted-foreground: var(--color-white-a10);

  /* Semantic Coloring */
  --color-link: var(--color-blue-10);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply h-full min-h-full;
  }

  /* TODO: melhorar o ring quando aperta tab */
  /* TODO: customizar a barra de rolagem */
  /* TODO: customizar a seleção */
}

@layer utilities {
  .container {
    @apply mx-auto max-w-(--breakpoint-xl);
  }
}
