@theme {
  /* Fonts */
  --font-sans:
    "Geist Variable", "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  /* Black Alpha */
  --color-black-a1: oklch(0% 0 none / 0.05);
  --color-black-a2: oklch(0% 0 none / 0.1);
  --color-black-a3: oklch(0% 0 none / 0.15);
  --color-black-a4: oklch(0% 0 none / 0.2);
  --color-black-a5: oklch(0% 0 none / 0.3);
  --color-black-a6: oklch(0% 0 none / 0.4);
  --color-black-a7: oklch(0% 0 none / 0.5);
  --color-black-a8: oklch(0% 0 none / 0.6);
  --color-black-a9: oklch(0% 0 none / 0.7);
  --color-black-a10: oklch(0% 0 none / 0.8);
  --color-black-a11: oklch(0% 0 none / 0.9);
  --color-black-a12: oklch(0% 0 none / 0.95);

  /* White Alpha */
  --color-white-a1: oklch(100% 0 none / 0.05);
  --color-white-a2: oklch(100% 0 none / 0.1);
  --color-white-a3: oklch(100% 0 none / 0.15);
  --color-white-a4: oklch(100% 0 none / 0.2);
  --color-white-a5: oklch(100% 0 none / 0.3);
  --color-white-a6: oklch(100% 0 none / 0.4);
  --color-white-a7: oklch(100% 0 none / 0.5);
  --color-white-a8: oklch(100% 0 none / 0.6);
  --color-white-a9: oklch(100% 0 none / 0.7);
  --color-white-a10: oklch(100% 0 none / 0.8);
  --color-white-a11: oklch(100% 0 none / 0.9);
  --color-white-a12: oklch(100% 0 none / 0.95);

  /* Blue Dark */
  --color-blue-1: oklch(19.361% 0.0255 256.49);
  --color-blue-2: oklch(21.293% 0.03034 261.25);
  --color-blue-3: oklch(27.447% 0.06629 253.93);
  --color-blue-4: oklch(32.014% 0.09678 252.35);
  --color-blue-5: oklch(36.71% 0.10588 250.7);
  --color-blue-6: oklch(41.603% 0.11326 252.01);
  --color-blue-7: oklch(47.411% 0.12187 253.09);
  --color-blue-8: oklch(54.057% 0.13954 253.17);
  --color-blue-9: oklch(64.929% 0.19304 251.78);
  --color-blue-10: oklch(68.838% 0.16933 251.4);
  --color-blue-11: oklch(76.422% 0.12575 249.46);
  --color-blue-12: oklch(90.712% 0.05104 238.45);

  /* Blue Dark Alpha */
  --color-blue-a1: oklch(50.709% 0.25297 262.9 / 0.06667);
  --color-blue-a2: oklch(56.16% 0.23461 261.37 / 0.09412);
  --color-blue-a3: oklch(59.666% 0.22118 258.03 / 0.22745);
  --color-blue-a4: oklch(59.263% 0.2235 258.41 / 0.34118);
  --color-blue-a5: oklch(61.581% 0.20722 255.61 / 0.41961);
  --color-blue-a6: oklch(63.388% 0.19713 254.06 / 0.49804);
  --color-blue-a7: oklch(65.562% 0.18565 253.83 / 0.59608);
  --color-blue-a8: oklch(66.337% 0.18114 253.5 / 0.72549);
  --color-blue-a9: oklch(64.929% 0.19304 251.78);
  --color-blue-a10: oklch(68.838% 0.16933 251.4);
  --color-blue-a11: oklch(76.422% 0.12575 249.46);
  --color-blue-a12: oklch(90.712% 0.05104 238.45);

  /* Gray Dark */
  --color-gray-1: oklch(17.764% 0 none);
  --color-gray-2: oklch(21.342% 0 none);
  --color-gray-3: oklch(25.196% 0 none);
  --color-gray-4: oklch(28.502% 0 none);
  --color-gray-5: oklch(31.317% 0 none);
  --color-gray-6: oklch(34.846% 0 none);
  --color-gray-7: oklch(40.167% 0 none);
  --color-gray-8: oklch(48.906% 0 none);
  --color-gray-9: oklch(53.824% 0 none);
  --color-gray-10: oklch(58.292% 0 none);
  --color-gray-11: oklch(76.993% 0 none);
  --color-gray-12: oklch(94.912% 0 none);

  /* Gray Dark Alpha */
  --color-gray-a1: oklch(0% 0 none / 0);
  --color-gray-a2: oklch(100% 0 none / 0.03529);
  --color-gray-a3: oklch(100% 0 none / 0.07059);
  --color-gray-a4: oklch(100% 0 none / 0.10588);
  --color-gray-a5: oklch(100% 0 none / 0.13333);
  --color-gray-a6: oklch(100% 0 none / 0.17255);
  --color-gray-a7: oklch(100% 0 none / 0.23137);
  --color-gray-a8: oklch(100% 0 none / 0.33333);
  --color-gray-a9: oklch(100% 0 none / 0.39216);
  --color-gray-a10: oklch(100% 0 none / 0.44706);
  --color-gray-a11: oklch(100% 0 none / 0.68627);
  --color-gray-a12: oklch(100% 0 none / 0.92941);

  /* 1st */
  --color-background: var(--color-black-a12);
  --color-foreground: var(--color-white-a10);

  /* 2nd */
  --color-secondary: var(--color-gray-3);
  --color-secondary-foreground: var(--color-white-a8);

  /* 3rd */
  --color-accent: var(--color-gray-2);
  --color-accent-foreground: var(--color-white-a7);

  /* 4th */
  --color-muted: var(--color-gray-1);
  --color-muted-foreground: var(--color-white-a5);

  /* Nth */
  --color-link: var(--color-blue-8);
  --color-border: var(--color-gray-a3);
  --color-ring: var(--color-gray-5);
  --color-outline: oklch(from var(--color-ring) l c h / 0.5);
}
