@theme {
  --font-sans:
    "Geist Variable", "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --spacing: 0.25rem;

  --blur: 0.8rem;

  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --x-container: calc(var(--spacing) * 6);
  --y-container: calc(var(--spacing) * 12);

  @media (width >= 40rem /* var(--breakpoint-sm) */) {
    --x-container: calc(var(--spacing) * 8);
    --y-container: calc(var(--spacing) * 16);
  }

  @media (width >= 48rem /* var(--breakpoint-md) */) {
    --x-container: calc(var(--spacing) * 12);
    --y-container: calc(var(--spacing) * 24);
  }
}

@theme {
  --spacing-x-container: var(--x-container);
  --spacing-y-container: var(--y-container);

  --color-black-a1: oklch(0% 0 none / 0.05);
  --color-black-a2: oklch(0% 0 none / 0.1);
  --color-black-a3: oklch(0% 0 none / 0.15);
  --color-black-a4: oklch(0% 0 none / 0.2);
  --color-black-a5: oklch(0% 0 none / 0.3);
  --color-black-a6: oklch(0% 0 none / 0.4);
  --color-black-a7: oklch(0% 0 none / 0.5);
  --color-black-a8: oklch(0% 0 none / 0.6);
  --color-black-a9: oklch(0% 0 none / 0.7);
  --color-black-a10: oklch(0% 0 none / 0.8);
  --color-black-a11: oklch(0% 0 none / 0.9);
  --color-black-a12: oklch(0% 0 none / 0.95);

  --color-white-a1: oklch(100% 0 none / 0.05);
  --color-white-a2: oklch(100% 0 none / 0.1);
  --color-white-a3: oklch(100% 0 none / 0.15);
  --color-white-a4: oklch(100% 0 none / 0.2);
  --color-white-a5: oklch(100% 0 none / 0.3);
  --color-white-a6: oklch(100% 0 none / 0.4);
  --color-white-a7: oklch(100% 0 none / 0.5);
  --color-white-a8: oklch(100% 0 none / 0.6);
  --color-white-a9: oklch(100% 0 none / 0.7);
  --color-white-a10: oklch(100% 0 none / 0.8);
  --color-white-a11: oklch(100% 0 none / 0.9);
  --color-white-a12: oklch(100% 0 none / 0.95);

  --color-gray-1: oklch(17.764% 0 none);
  --color-gray-2: oklch(21.342% 0 none);
  --color-gray-3: oklch(25.196% 0 none);
  --color-gray-4: oklch(28.502% 0 none);
  --color-gray-5: oklch(31.317% 0 none);
  --color-gray-6: oklch(34.846% 0 none);
  --color-gray-7: oklch(40.167% 0 none);
  --color-gray-8: oklch(48.906% 0 none);
  --color-gray-9: oklch(53.824% 0 none);
  --color-gray-10: oklch(58.292% 0 none);
  --color-gray-11: oklch(76.993% 0 none);
  --color-gray-12: oklch(94.912% 0 none);

  --color-gray-a1: oklch(0% 0 none / 0);
  --color-gray-a2: oklch(100% 0 none / 0.03529);
  --color-gray-a3: oklch(100% 0 none / 0.07059);
  --color-gray-a4: oklch(100% 0 none / 0.10588);
  --color-gray-a5: oklch(100% 0 none / 0.13333);
  --color-gray-a6: oklch(100% 0 none / 0.17255);
  --color-gray-a7: oklch(100% 0 none / 0.23137);
  --color-gray-a8: oklch(100% 0 none / 0.33333);
  --color-gray-a9: oklch(100% 0 none / 0.39216);
  --color-gray-a10: oklch(100% 0 none / 0.44706);
  --color-gray-a11: oklch(100% 0 none / 0.68627);
  --color-gray-a12: oklch(100% 0 none / 0.92941);

  --color-blue-1: oklch(19.361% 0.0255 256.49);
  --color-blue-2: oklch(21.293% 0.03034 261.25);
  --color-blue-3: oklch(27.447% 0.06629 253.93);
  --color-blue-4: oklch(32.014% 0.09678 252.35);
  --color-blue-5: oklch(36.71% 0.10588 250.7);
  --color-blue-6: oklch(41.603% 0.11326 252.01);
  --color-blue-7: oklch(47.411% 0.12187 253.09);
  --color-blue-8: oklch(54.057% 0.13954 253.17);
  --color-blue-9: oklch(64.929% 0.19304 251.78);
  --color-blue-10: oklch(68.838% 0.16933 251.4);
  --color-blue-11: oklch(76.422% 0.12575 249.46);
  --color-blue-12: oklch(90.712% 0.05104 238.45);

  --color-blue-a1: oklch(50.709% 0.25297 262.9 / 0.06667);
  --color-blue-a2: oklch(56.16% 0.23461 261.37 / 0.09412);
  --color-blue-a3: oklch(59.666% 0.22118 258.03 / 0.22745);
  --color-blue-a4: oklch(59.263% 0.2235 258.41 / 0.34118);
  --color-blue-a5: oklch(61.581% 0.20722 255.61 / 0.41961);
  --color-blue-a6: oklch(63.388% 0.19713 254.06 / 0.49804);
  --color-blue-a7: oklch(65.562% 0.18565 253.83 / 0.59608);
  --color-blue-a8: oklch(66.337% 0.18114 253.5 / 0.72549);
  --color-blue-a9: oklch(64.929% 0.19304 251.78);
  --color-blue-a10: oklch(68.838% 0.16933 251.4);
  --color-blue-a11: oklch(76.422% 0.12575 249.46);
  --color-blue-a12: oklch(90.712% 0.05104 238.45);

  --color-red-1: oklch(18.803% 0.01345 18.42);
  --color-red-2: oklch(20.458% 0.02168 14.064);
  --color-red-3: oklch(25.105% 0.06494 12.692);
  --color-red-4: oklch(28.929% 0.09511 14.33);
  --color-red-5: oklch(33.211% 0.10667 15.526);
  --color-red-6: oklch(38.144% 0.11082 16.803);
  --color-red-7: oklch(45.018% 0.12106 18.774);
  --color-red-8: oklch(54.356% 0.14576 21.762);
  --color-red-9: oklch(62.557% 0.19334 23.026);
  --color-red-10: oklch(66.338% 0.17739 22.851);
  --color-red-11: oklch(78.041% 0.12812 22.139);
  --color-red-12: oklch(90.236% 0.05268 6.4541);

  --color-red-a1: oklch(61.153% 0.24494 28.705 / 0.03529);
  --color-red-a2: oklch(62.466% 0.22694 23.589 / 0.06667);
  --color-red-a3: oklch(63.682% 0.24918 21.918 / 0.17647);
  --color-red-a4: oklch(63.141% 0.25183 22.213 / 0.26667);
  --color-red-a5: oklch(64.112% 0.24541 20.56 / 0.33725);
  --color-red-a6: oklch(66.125% 0.22643 19.733 / 0.40784);
  --color-red-a7: oklch(68.211% 0.20722 20.072 / 0.51765);
  --color-red-a8: oklch(69.292% 0.19715 22.461 / 0.6902);
  --color-red-a9: oklch(67.334% 0.21195 23.148 / 0.89412);
  --color-red-a10: oklch(70.183% 0.18943 22.963 / 0.92157);
  --color-red-a11: oklch(78.041% 0.12812 22.139);
  --color-red-a12: oklch(90.236% 0.05268 6.4541);

  --color-background: var(--color-black-a12);
  --color-foreground: var(--color-white-a12);

  --color-destructive: var(--destructive);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--color-gray-3);
  --color-secondary-foreground: var(--color-white-a9);

  --color-accent: var(--color-gray-2);
  --color-accent-foreground: var(--color-white-a7);

  --color-muted: var(--color-gray-1);
  --color-muted-foreground: var(--color-white-a5);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-input: var(--input);

  --color-border: var(--color-gray-a3);
  --color-ring: var(--color-gray-5);
  --color-outline: oklch(from var(--color-ring) l c h / 0.5);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}
