---
import About from "~/components/about.astro"
import Contacts from "~/components/contacts.astro"
import Experience from "~/components/experience.astro"
import Heading from "~/components/heading.astro"
import Projects from "~/components/projects.astro"
import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout>
  <script src="~/scripts/observer.ts"></script>

  <div class="container px-12">
    <div class="grid grid-cols-5 gap-x-4">
      <Heading
        class="fixed inset-y-0 col-start-1 col-end-3 grid max-h-svh grid-rows-[auto_auto_1fr] py-24"
      />

      <main
        class="col-start-3 col-end-6 py-24 [&>section]:scroll-mt-24 [&>section:not(:first-child)]:mt-24">
        <About />
        <Experience />
        <Projects />
        <Contacts />
      </main>
    </div>
  </div>
</DefaultLayout>
