---
import Typography from "~/components/typography.astro"
import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout>
  <div class="container px-12">
    <div class="grid grid-cols-5 gap-x-4">
      <div class="sticky inset-y-0 col-start-1 col-end-3 max-h-svh py-24">
        <Typography variant="largeTitle" element="h1">
          João Procópio
        </Typography>

        <Typography variant="headline" element="h2" class="mt-1">
          Software Engineer
        </Typography>

        <Typography
          variant="subheadline"
          class="text-foreground-secondary mt-6 max-w-2xs">
          I'll help you turn your product into something special.
        </Typography>
      </div>

      <div class="col-start-3 col-end-6 py-24 [&_p]:mb-6">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia hic
          dolore, aliquam explicabo atque molestiae tempora? Quis dolores
          tempore aspernatur tenetur eum unde repudiandae magnam autem expedita.
          Distinctio, assumenda modi.
        </p>
        <p>
          Quasi laboriosam necessitatibus, quam itaque neque obcaecati voluptas
          totam tempore dolorum, maiores accusamus numquam fugiat? Facere
          dolore, fugiat possimus a quaerat fugit, sapiente sit, laudantium vero
          cumque porro numquam. Ipsa.
        </p>
        <p>
          Explicabo dignissimos ipsam aspernatur facere nisi suscipit delectus
          assumenda, cupiditate quo quasi saepe! Dolorem, dolores! Illo
          consectetur, officia quibusdam, doloremque soluta accusantium ipsum
          excepturi, voluptatum fuga a aspernatur optio numquam!
        </p>
        <p>
          Maxime neque quae cum dolor illo, sit, saepe perferendis velit a omnis
          nam. Perferendis eaque eum deleniti alias atque obcaecati ut cumque
          enim voluptatibus repellendus, placeat natus et, suscipit eligendi?
        </p>
        <p>
          Debitis suscipit obcaecati est, sapiente dicta recusandae asperiores
          sit labore mollitia quia optio nihil deserunt dolores, placeat
          veritatis animi, dignissimos harum soluta nam! Ipsum, officia
          aspernatur quia vel hic inventore.
        </p>
        <p>
          Omnis officiis, nulla amet consectetur quis cumque rem eveniet nobis,
          dicta culpa a veritatis odit? Eius porro illum quaerat perferendis
          officiis quas architecto possimus eaque velit voluptatibus? Magnam,
          porro modi!
        </p>
        <p>
          Minus neque mollitia deleniti voluptatibus quam laudantium inventore
          debitis labore quae assumenda nihil accusantium dolorem dolores
          voluptatem eos, rem, consectetur reprehenderit ipsam sequi vitae
          blanditiis! In dolores similique odio doloribus.
        </p>
        <p>
          Enim, laudantium quae cum asperiores maxime, nemo aspernatur
          voluptates temporibus iusto ipsa officiis voluptate similique
          consectetur inventore nulla vitae libero amet voluptatum deleniti a.
          Itaque maxime soluta consequatur consectetur cupiditate?
        </p>
        <p>
          Suscipit rem aliquid minima necessitatibus soluta, libero,
          perspiciatis sunt quam nisi dolores laboriosam dignissimos nam autem
          impedit sapiente! Excepturi harum velit ex maiores dolores iusto quia
          minus dolorum eum corporis!
        </p>
        <p>
          Amet, pariatur vitae sint, maxime, quas debitis consequuntur quod
          fugiat distinctio numquam aut deserunt consectetur iusto aspernatur
          totam architecto similique voluptatem facilis perferendis autem.
          Reiciendis voluptatum debitis facilis explicabo natus.
        </p>
        <p>
          Quaerat accusamus reiciendis adipisci iure doloribus sint laborum
          dolores dicta facere quidem voluptatem, quas error neque minima,
          corrupti dolor suscipit ipsa dolore repellat magni. Maxime iusto aut
          aliquid ex quaerat.
        </p>
        <p>
          Consequuntur voluptatum, ratione voluptas iure quasi ea saepe beatae
          accusantium odit consectetur, omnis fuga dolorum tempore fugit enim
          sapiente perferendis. Porro nisi est voluptatum ad nihil consequatur
          adipisci quis delectus?
        </p>
        <p>
          Voluptatibus numquam, nobis eaque commodi, ea similique at iure
          facilis deserunt accusamus eos. In laborum dolores recusandae
          aspernatur eius ducimus voluptate delectus consequuntur magni, nam et,
          molestias alias, modi maiores?
        </p>
        <p>
          Illum vero reiciendis adipisci dicta sequi a recusandae nihil
          accusamus repudiandae, eos tempore placeat alias accusantium
          veritatis, eligendi saepe sunt omnis officia. Asperiores nam sapiente
          repellat aliquam dolores eaque eveniet?
        </p>
        <p>
          Nesciunt dicta qui repellat ipsum consequatur quae quasi provident,
          recusandae commodi accusamus, quaerat veniam sit asperiores
          reprehenderit eos odit perferendis earum non architecto. Et illo
          blanditiis voluptates, corrupti praesentium ut!
        </p>
        <p>
          Officiis voluptatibus adipisci, nobis pariatur deserunt doloremque
          facilis minima nisi officia assumenda sequi labore itaque repellat.
          Nihil officiis deleniti exercitationem praesentium illo amet deserunt
          nulla molestias, repellat, esse delectus suscipit?
        </p>
        <p>
          Neque, similique laboriosam voluptatum magnam vitae laudantium dolorum
          minima molestias eligendi! Porro nostrum deleniti maxime similique aut
          quibusdam vel libero, beatae repudiandae at? Pariatur similique quidem
          corporis distinctio, nemo perspiciatis!
        </p>
        <p>
          Dolor quidem voluptatem fugit quis cum fugiat quam praesentium totam
          consequatur doloremque a dolorem repellendus beatae ut magni, esse
          quas velit. Magnam ipsam blanditiis eos nesciunt deleniti
          reprehenderit molestias amet!
        </p>
        <p>
          Blanditiis nostrum explicabo in! Alias laudantium reiciendis quasi
          asperiores sit iure ab rerum! Repellendus tempore nesciunt, hic
          molestiae laboriosam eveniet, obcaecati ratione corporis aperiam, aut
          accusamus soluta magnam vero praesentium?
        </p>
        <p>
          Itaque neque ipsa ut a! Reprehenderit adipisci, ratione accusamus ea
          repudiandae ipsa maxime natus asperiores perspiciatis veniam, aliquid
          quo a distinctio nostrum tempore dolorum animi omnis nulla facere,
          dolor odio!
        </p>
        <p>
          Illum velit accusamus eum voluptatum culpa libero eligendi ducimus
          totam tempore voluptate aspernatur quidem eveniet repellendus, atque
          error nam laborum quaerat esse! Natus, doloribus unde. Incidunt
          deserunt repellat in quae.
        </p>
        <p>
          Exercitationem reiciendis accusantium, porro assumenda alias atque?
          Aliquid magni, perferendis tempora delectus adipisci aperiam
          voluptates voluptatum quod ipsum, ipsa eligendi laboriosam aliquam
          est? Expedita inventore consequatur, nobis magni quibusdam ex?
        </p>
        <p>
          Pariatur voluptates quis itaque repellat modi, ipsum omnis est odio a
          earum, quae accusantium quisquam cupiditate voluptatum saepe provident
          quasi consectetur unde et? Iste, aliquam eum id voluptates ducimus
          quisquam!
        </p>
        <p>
          Labore molestias placeat nihil amet tempora quod beatae voluptate.
          Dolorem earum, ullam hic, quibusdam ab, cumque cupiditate quia alias
          officiis sed provident odit quo nisi molestias numquam ad est
          consequuntur!
        </p>
        <p>
          Id assumenda maiores quidem? Deleniti cupiditate amet excepturi
          commodi praesentium esse unde, iste iure at quam expedita, suscipit
          pariatur quaerat quod sint, velit facilis natus sunt obcaecati magni.
          Pariatur, optio.
        </p>
        <p>
          Impedit maiores quam autem voluptas minima harum ut saepe ex facilis
          aliquid magni temporibus dignissimos neque voluptatem delectus nisi
          exercitationem quod fuga molestiae, dicta suscipit aspernatur! Facere
          quo fuga laboriosam.
        </p>
        <p>
          Itaque neque commodi expedita esse natus. Animi accusantium architecto
          quibusdam ut totam et quisquam odio delectus, dolor tempore non
          voluptatibus magni excepturi quam laboriosam! Eligendi nihil impedit
          provident perspiciatis quasi.
        </p>
        <p>
          Dicta optio numquam laborum deserunt eos sed, voluptas provident
          libero eaque id quaerat delectus recusandae voluptatibus quam? Impedit
          ex sunt provident harum, ipsum quam aut, quia maxime animi recusandae
          voluptas.
        </p>
        <p>
          Sapiente voluptates quasi qui facilis, culpa expedita quos suscipit ex
          molestias labore autem, voluptas magni! Distinctio sed reiciendis
          accusantium deserunt ipsam, voluptatibus cumque, aspernatur, est
          temporibus hic quam aperiam sapiente.
        </p>
        <p>
          Distinctio iusto nemo ea dolorum autem pariatur? Sapiente delectus
          fugiat consequatur, facilis iure rem nam, praesentium est culpa animi
          dicta exercitationem nesciunt eveniet? Quos aliquid ad libero
          voluptate rem unde?
        </p>
      </div>
    </div>
  </div>
</DefaultLayout>
