---
import Typography from "~/components/typography.astro"
import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout>
  <div class="container">
    <div class="py-12">
      <div>
        <Typography variant="h1">João Procópio</Typography>
        <Typography variant="h2" class="italic">/ʒuˈɐ̃͡ʊ̃ pɹˌukˈɔpjʊ/</Typography>
      </div>

      <div>
        <!--  -->
      </div>
    </div>
  </div>
</DefaultLayout>
