---
import DefaultLayout from "../layouts/default.astro"
---

<DefaultLayout>
  <div>
    <h1 class="text-3xl font-bold">João Procópio</h1>
    <h2 class="italic">/ʒuˈɐ̃͡ʊ̃ pɹˌukˈɔpjʊ/</h2>
  </div>
</DefaultLayout>
