---
import Section from "~/components/section.astro"
import Typography from "~/components/typography.astro"
import DefaultLayout from "~/layouts/default.astro"

type TSection<S extends string> = {
  ID: S
  HREF: `#${S}`
  LABEL: Capitalize<S>
}

const SECTION_ABOUT: TSection<"about"> = {
  ID: "about",
  HREF: "#about",
  LABEL: "About",
}

const SECTION_EXPERIENCE: TSection<"experience"> = {
  ID: "experience",
  HREF: "#experience",
  LABEL: "Experience",
}

const SECTION_PROJECTS: TSection<"projects"> = {
  ID: "projects",
  HREF: "#projects",
  LABEL: "Projects",
}

const SECTION_CONTACTS: TSection<"contacts"> = {
  ID: "contacts",
  HREF: "#contacts",
  LABEL: "Contacts",
}

const SECTIONS: TSection<string>[] = [
  SECTION_ABOUT,
  SECTION_EXPERIENCE,
  SECTION_PROJECTS,
  SECTION_CONTACTS,
]
---

<DefaultLayout>
  <div class="container px-12">
    <div class="grid grid-cols-5 gap-x-4">
      <aside
        class="fixed inset-y-0 col-start-1 col-end-3 grid max-h-svh grid-rows-[auto_auto_1fr] py-24">
        <section>
          <Typography variant="largeTitle" element="h1">
            João Procópio
          </Typography>

          <Typography variant="headline" element="h2" class="mt-1">
            Software Engineer
          </Typography>

          <Typography
            variant="subheadline"
            class="text-foreground-secondary mt-6 max-w-2xs">
            I'll help you turn your product into something special.
          </Typography>
        </section>

        <ol class="mt-16 [&_li+li]:mt-2">
          {
            SECTIONS.map((section) => (
              <li>
                <Typography
                  variant="footnote"
                  element="a"
                  class="uppercase"
                  href={section.HREF}>
                  {section.LABEL}
                </Typography>
              </li>
            ))
          }
        </ol>

        <footer class="place-content-end">
          <div>github</div>
        </footer>
      </aside>

      <main class="col-start-3 col-end-6 py-24">
        <Section id={SECTION_ABOUT.ID}>
          <Typography>
            Always seeking to make an impact in the real world through building
            software.
          </Typography>

          <Typography>
            From a young age, my interests always gravitated toward technology -
            it's an innate interest that has always been present. However, there
            was a specific moment when I began to be interested not just in
            technology itself, but in the process of building it.
          </Typography>

          <Typography>
            I watched a video of someone creating a Python service to send
            WhatsApp messages using the Twilio SDK, and for someone with no
            programming experience, seeing this brought me enormous excitement
            and made me want to understand how it worked.
          </Typography>

          <div>
            <Typography>
              I set up the tools on my machine and followed the step-by-step
              tutorial. After dozens of stack traces and having the canonical
              developer experience:
            </Typography>

            <ol class="mt-3 list-inside list-decimal">
              <Typography variant="headline" element="li"
                >Copy the error</Typography
              >
              <Typography variant="headline" element="li">
                Paste it into Google and click the first Stack Overflow result
              </Typography>
              <Typography variant="headline" element="li"
                >Jump straight to the answer</Typography
              >
              <Typography variant="headline" element="li"
                >Stare at the code</Typography
              >
              <Typography variant="headline" element="li"
                >Manage to solve it (optional)</Typography
              >
            </ol>
          </div>
        </Section>
      </main>
    </div>
  </div>
</DefaultLayout>
