---
import Typography from "~/components/typography.astro"
import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout>
  <div class="container px-6">
    <div class="py-24">
      <div>
        <div>
          <Typography variant="h1" class="text-secondary">
            João Procópio
          </Typography>

          <Typography variant="small" class="inline-block text-lg italic mt-1">
            /ʒuˈɐ̃͡ʊ̃ pɹˌukˈɔpjʊ/
          </Typography>
        </div>

        <div class="mt-4">
          <Typography variant="h3" element="h2" class="text-secondary">
            Software Engineer
          </Typography>
        </div>
      </div>

      <div>
        <!--  -->
      </div>
    </div>
  </div>
</DefaultLayout>
