---
import About from "~/components/about.astro"
import Entitled from "~/components/entitled.astro"
import Experience from "~/components/experience.astro"
import Footer from "~/components/footer.astro"
import Heading from "~/components/heading.astro"
import { SECTIONS } from "~/constants/sections"
import DefaultLayout from "~/layouts/default.astro"

function idToContent(id: (typeof SECTIONS)[number]["ID"]) {
  switch (id) {
    case "about":
      return About
    case "experience":
      return Experience
  }
}
---

<DefaultLayout>
  <script src="~/scripts/observer.ts"></script>

  <div class="p-container mx-auto lg:container">
    <div class="lg:grid lg:grid-cols-5 lg:gap-x-4">
      <Heading
        class="lg:py-container lg:fixed lg:inset-y-0 lg:grid lg:grid-rows-[auto_auto_1fr]"
      />

      <main class="pt-12 sm:pt-16 md:pt-24 lg:col-start-3 lg:col-end-6 lg:pt-0">
        <div class="[&>*+*]:mt-12 sm:[&>*+*]:mt-16 md:[&>*+*]:mt-24">
          {
            SECTIONS.map((SECTION) => {
              const Content = idToContent(SECTION.ID)

              return (
                <Entitled id={SECTION.ID} title={SECTION.TITLE}>
                  <section class="[&>*+*]:mt-4">
                    <Content />
                  </section>
                </Entitled>
              )
            })
          }

          <Footer />
        </div>
      </main>
    </div>
  </div>
</DefaultLayout>
