---
import Typography from "~/components/typography.astro"
---

<Typography>
  Always seeking to make an impact in the real world through building software.
</Typography>

<Typography>
  From a young age, my interests always gravitated toward technology - it's an
  innate interest that has always been present. However, there was a specific
  moment when I began to be interested not just in technology itself, but in the
  process of building it.
</Typography>

<Typography>
  I watched a video of someone creating a Python service to send WhatsApp
  messages using the Twilio SDK, and for someone with no programming experience,
  seeing this brought me enormous excitement and made me want to understand how
  it worked.
</Typography>

<div>
  <Typography>
    I set up the tools on my machine and followed the step-by-step tutorial.
    After dozens of stack traces and having the canonical developer experience:
  </Typography>

  <ol class="mt-2 list-inside list-decimal [&>li+li]:mt-0.5">
    <Typography variant="body" element="li"> Copy the error </Typography>

    <Typography variant="body" element="li">
      Paste it into Google and click the first Stack Overflow result
    </Typography>

    <Typography variant="body" element="li">
      Jump straight to the answer
    </Typography>

    <Typography variant="body" element="li"> Stare at the code </Typography>

    <Typography variant="body" element="li">
      Manage to solve it <span class="text-secondary-foreground"
        >(optional)</span
      >
    </Typography>
  </ol>
</div>

<Typography>
  In the end, I succeeded. Seeing it work with the message coming through gave
  me immense satisfaction — it was my first practical contact with code, and it
  felt like magic.
</Typography>

<Typography>
  Since then, learning and facing increasingly bigger challenges has become a
  passion. I enjoy diving into unknown problems and, even without much initial
  information, reaching a complete solution. Each new learning experience is
  another piece that expands my vision of what's possible to achieve with
  technology.
</Typography>

<Typography>
  Today, as a Software Engineer, I feel I have the ability to design and develop
  complete applications, participating in every step of the engineering process.
  My focus is to always make the maximum possible impact on every product that I
  work on.
</Typography>
