---
import Typography from "~/components/typography.astro"

type Props = {
  title: string
} & astroHTML.JSX.HTMLAttributes

const { title: titleProp, class: classProp, ...props } = Astro.props
---

<div
  class:list={["scroll-mt-12 sm:scroll-mt-16 md:scroll-mt-24", classProp]}
  {...props}>
  <div
    class="sticky top-0 -mx-6 flex h-14 items-center px-6 backdrop-blur sm:-mx-8 sm:px-8 md:-mx-12 md:px-12 lg:sr-only">
    <Typography
      variant="subheadline"
      affect="emphasized"
      class="text-accent-foreground uppercase">
      {titleProp}
    </Typography>
  </div>

  <slot />
</div>
