---
import Typography from "~/components/typography.astro"

type Props = {
  title: string
} & astroHTML.JSX.HTMLAttributes

const { title: titleProp, class: classProp, ...props } = Astro.props
---

<div
  class:list={["scroll-mt-12 sm:scroll-mt-16 md:scroll-mt-24", classProp]}
  {...props}>
  <div
    class="-mx-container px-container sticky top-0 flex h-14 items-center backdrop-blur lg:sr-only">
    <Typography
      variant="subheadline"
      affect="emphasized"
      class="text-secondary-foreground uppercase">
      {titleProp}
    </Typography>
  </div>

  <slot />
</div>
