---
import Section from "~/components/section.astro"
import { SECTION_EXPERIENCE } from "~/constants/sections"
---

<Section id={SECTION_EXPERIENCE.ID}>
  <div class="h-[1200px] bg-red-500"></div>
</Section>
