---
import { env } from "~/env"
import { cn } from "~/lib/ui/utils"

type Props = astroHTML.JSX.AnchorHTMLAttributes

const { class: classProp, ...props } = Astro.props

const canonicalURL = env.getCanonicalURL(Astro.site!, Astro.url)
const target = (Astro.props.target ??
  (canonicalURL.origin === URL.parse(Astro.props.href!, canonicalURL)?.origin
    ? "_self"
    : "_blank")) satisfies Props["target"]
---

<a {...props} class={cn("inline-block", classProp)} target={target}><slot /></a>
