---
import Section from "~/components/section.astro"
import { SECTION_PROJECTS } from "~/constants/sections"
---

<Section id={SECTION_PROJECTS.ID}>
  <div class="h-[4000px] bg-violet-500"></div>
</Section>
