---
import { twMerge } from "tailwind-merge"

type Props = astroHTML.JSX.HTMLAttributes

const { class: classProp, ...astroProps } = Astro.props
---

<section
  class={twMerge("[&>*:not(:first-child)]:mt-6", classProp)}
  {...astroProps}>
  <slot />
</section>
