:root,
.light {
  --red-1: oklch(99.336% 0.00319 17.211);
  --red-2: oklch(98.232% 0.00858 17.302);
  --red-3: oklch(95.547% 0.02072 13.857);
  --red-4: oklch(92.172% 0.04011 16.004);
  --red-5: oklch(89.204% 0.05675 16.926);
  --red-6: oklch(85.69% 0.07407 17.676);
  --red-7: oklch(80.699% 0.08879 18.32);
  --red-8: oklch(74.434% 0.11325 18.753);
  --red-9: oklch(62.557% 0.19334 23.026);
  --red-10: oklch(59.902% 0.19466 24.035);
  --red-11: oklch(55.7% 0.19743 25.168);
  --red-12: oklch(33.899% 0.10891 16.6);
}

.dark {
  --red-1: oklch(18.803% 0.01345 18.42);
  --red-2: oklch(20.458% 0.02168 14.064);
  --red-3: oklch(25.105% 0.06494 12.692);
  --red-4: oklch(28.929% 0.09511 14.33);
  --red-5: oklch(33.211% 0.10667 15.526);
  --red-6: oklch(38.144% 0.11082 16.803);
  --red-7: oklch(45.018% 0.12106 18.774);
  --red-8: oklch(54.356% 0.14576 21.762);
  --red-9: oklch(62.557% 0.19334 23.026);
  --red-10: oklch(66.338% 0.17739 22.851);
  --red-11: oklch(78.041% 0.12812 22.139);
  --red-12: oklch(90.236% 0.05268 6.4541);
}

@theme inline {
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);
}
