@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";

  --color-background: var(--color-slate-900);
  --color-foreground: var(--color-slate-400);

  --color-primary: var(--color-teal-900);
  --color-primary-foreground: var(--color-teal-300);

  --color-secondary: var(--color-slate-200);
  --color-border: var(--color-foreground);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased leading-relaxed overscroll-none selection:text-primary selection:bg-primary-foreground;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply min-h-full h-full;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1280px];
  }
}
