@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";

  --color-background: var(--color-slate-900);
  --color-foreground: var(--color-slate-400);

  --color-primary: var(--color-teal-900);
  --color-primary-foreground: var(--color-teal-300);

  --color-border: inherit;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased leading-relaxed overscroll-none;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1536px] px-4 xl:px-6 2xl:px-4;
  }
}
