---
import tailwindURL from "~/styles/tailwind.css?url"
import faviconURL from "~/icons/favicon.svg?url"
import { env } from "~/env"
---

<!doctype html>
<html lang="en">
  <head>
    <title>João Procópio</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="canonical"
      href={env.getCanonicalUrl(Astro.site!, Astro.request.url)}
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Building scalable, high-performance products end-to-end"
    />

    <link rel="icon" type="image/svg+xml" href={faviconURL} />
    <link rel="preload" as="style" href={tailwindURL} />
    <link rel="stylesheet" href={tailwindURL} />
  </head>

  <body>
    <slot />
  </body>
</html>
